# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.
# [include kiauh_macros.cfg]

[include fluidd.cfg]
[include luxuri_macros.cfg]
[include idex_macros.cfg]

[gcode_arcs]

# [input_shaper]
# shaper_type_x = mzv
# shaper_freq_x = 55.8
# shaper_type_y = ei
# shaper_freq_y = 43.0

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu CB1]
serial: /tmp/klipper_host_mcu

[adxl345]2
cs_pin: CB1:None
spi_bus: spidev1.1
axes_map: x, y ,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    115, 115, 20  # an example

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0B000C001851313434373135-if00
# CAN bus is also available on this board

[printer]
kinematics: cartesian
max_velocity: 120
max_accel: 800
max_z_velocity: 5
max_z_accel: 100

[bed_screws]
screw1: 25,35
screw2: 25,185
screw3: 195,185
screw4:	195,35

[exclude_object]

[firmware_retraction]

[display_status]

[respond]
default_type: echo

[endstop_phase]

[z_tilt]
z_positions:
    -24,125
    256,125
points:
    -17.2,141.7 # 0+15-32.2, 117+24.7
    187.8,141.7 # 235-15-32.2, 117+24.7
speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.1

# [bltouch]
# sensor_pin: ^PB7
# control_pin: PB6
# z_offset: 2
# x_offset: 33
# y_offset: -22
# speed: 5
# samples: 3

# [bed_mesh]
# speed: 80
# horizontal_move_z: 5
# mesh_min: 15,15
# mesh_max: 220, 197 #  235-15, 222-24.7
# probe_count: 5,5
# mesh_pps: 2,2
# algorithm: bicubic
# bicubic_tension: 0.2
# fade_start: 1
# fade_end: 10
# fade_target: 0
# # zero_reference_position: 117, 117

# [safe_z_home]
# home_xy_position: 117, 117 # Change coordinates to the center of your print bed
# speed: 50
# z_hop: 10                 # Move up 10mm
# z_hop_speed: 5

# Driver0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: !PG6
position_endstop: -45.5
# position_endstop: -57.5

position_max: 205
position_min: -60
homing_speed: 80
homing_positive_dir: false

# Driver1
[dual_carriage]
axis: x
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: !PG9
position_endstop: 295.3
position_min: 22
position_max: 299
homing_speed: 80
# safe_distance: 78

# Driver2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 4
endstop_pin: !PG10
# endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 350
homing_speed: 10
position_min: -9.0

# Driver3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
microsteps: 16
rotation_distance: 4
endstop_pin: !PG11
# endstop_pin: probe:z_virtual_endstop


# Driver4
[stepper_y]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 40
endstop_pin: !PG12
position_endstop: 0
# position_endstop: -12
position_min: 0
position_max: 235
homing_speed: 30

# Driver5
[extruder]
step_pin: PC13
# dir_pin: PF0 # H2VS
dir_pin: !PF0 # Titan
enable_pin: !PF1
microsteps: 16
# rotation_distance: 3.433 # H2VS
rotation_distance: 8.3732 # Titan
nozzle_diameter: 0.6
filament_diameter: 1.750
heater_pin: PA0 # HE0
sensor_pin:  PF4 # T0
sensor_type: EPCOS 100K B57560G104F
#control = pid
#pid_kp = 18.557
#pid_ki = 0.803
#pid_kd = 107.167
min_temp: 0
max_temp: 300
max_extrude_only_accel: 800

[filament_switch_sensor material_0]
switch_pin: PG13

# Driver6
[extruder1]
step_pin: PE2
# dir_pin: PE3 # H2VS
dir_pin: !PE3 # Titan
enable_pin: !PD4
microsteps: 16
# rotation_distance: 3.433 # H2VS
rotation_distance: 8.3732 # Titan
nozzle_diameter: 0.6
nozzle_diameter: 0.6
filament_diameter: 1.750
heater_pin: PA3 # HE1
sensor_pin: PF5 # T1
sensor_type: EPCOS 100K B57560G104F
#control = pid
#pid_kp = 31.713
#pid_ki = 2.375
#pid_kd = 105.841
min_temp: 0
max_temp: 300
max_extrude_only_accel: 800

# # Driver7
# [stepper_y]
# step_pin: PE6
# dir_pin: PA14
# enable_pin: !PE0
# microsteps: 16
# rotation_distance: 40
# endstop_pin: !PG12
# position_endstop: -12
# position_min: -20
# position_max: 222
# homing_speed: 30

[filament_switch_sensor material_1]
switch_pin: PG14


[heater_bed]
control = pid
pid_kp = 57.734
pid_ki = 1.426
pid_kd = 584.559
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 270

[heater_fan hfan0]
pin: PA8
heater: extruder
heater_temp: 80.0
fan_speed: 0.8

[output_pin fan0]
pin: PE5
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.05
scale: 255
shutdown_value: 0.0

[heater_fan hfan1]
pin: PD12
heater: extruder1
heater_temp: 80.0
fan_speed: 0.8

[output_pin fan1]
pin: PD13
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.05
scale: 255
shutdown_value: 0.0

# Aux Fan
[output_pin fan2]
pin: PD15
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.05
scale: 255
shutdown_value: 0.0

[temperature_fan fan_mcu]
sensor_type: temperature_mcu 
pin: PD14                      
max_temp: 80.0               
target_temp: 49.0
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

#[controller_fan fan5]
#pin: PD15

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
#diag_pin: PG6
run_current: 1.1
stealthchop_threshold: 999999

[tmc2209 dual_carriage]
uart_pin: PD11
#diag_pin: PG9
run_current: 1.1
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PF2
run_current: 1.2
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG11
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PE4
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 extruder1]
uart_pin: PE1
run_current: 0.800
stealthchop_threshold: 999999

# [tmc2209 extruder2]
# uart_pin: PD3
# run_current: 0.800
# stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[neopixel my_neopixel]
#pin: PB10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = -0.130
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.553
#*# pid_ki = 0.958
#*# pid_kd = 121.238
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 23.712
#*# pid_ki = 1.306
#*# pid_kd = 107.593
